li {
    margin: 1em;

}

.yt-player-component-tree {}

    .container-fluid {}

        .list-tabs {}

            .searching-video-tab {}

                .searching-input {}

            .favourites-video-tab {}

        .yt-player {}



.defaults-list {}

    .defaults-list-item {}

.defaults-input-form {}